body,html{
    background: #fff;
}

input,select,option,textarea{
    display: inline-block;
    outline: none;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    　　　　　　-webkit-user-select: none;
}