.header{
    background-color: #fff;
    height: 1.3rem;
    line-height: 1.3rem;
    font-size: 0.4rem;
    /* border-bottom: 1px solid #e6e6e6; */
    }
.header p{
    text-align: center;
    font-size: 0.5rem;
    }
