.wrap{
    width:100%;
    box-sizing: border-box;
}
.banner{
    width:100%;
    height:5.5rem;
    background: #eaeaea;
}
.productdetail{
    position: relative;
    height:2.5rem;
    border-bottom: 0.3rem solid #F6F6F9;
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}
.productdetail .ratereturn{
    float: left;
    width:40%;
    margin-top: .25rem;    
    border-right: 1px solid #F6F6F9;
}
.productdetail .ratereturnright{
    padding-left: .8rem;
    margin-top: .7rem;
    border:none;
}
.productdetail .yuyue{
    position: absolute;
    top:0rem;
}