.app{
    width:100%;
    margin: 0 auto;
}
.chattuimg{
    margin-top: 2.5rem;
    text-align: center
}
.fenxiangcontent{
    font-size: 0.4rem;
    color: #F22C17;
    margin-top: 1.5rem;
    padding: 0 0.9rem;
}

.begain{
    font-size:16px;
	color:#fff;
	background-color:#0096FE ;
	border-radius:6px;
	line-height:40px;
	width:80%;
	margin:0 auto;
	text-align:center;
	margin-top:30px;
	border:0px;
	outline:none;
	display:block;
}