.warp{
    width:100%;
    position: relative;
}
.opening_box p{
    margin-left: 0.5rem;
    background-repeat: no-repeat;
    background-color: #fff;
    line-height: 1.3rem;
    width: 90%;
    background-size:0.7rem 0.7rem;
      background-position:.2rem .2rem;
      border-bottom:1px #E5E5E5 solid;
}
.opening_box p span{
    font-family: PingFangSC-Regular;
    color: #444444;
    font-size: 0.3rem;
    display: inline-block;
    width: 2rem;
}
.opening_box p .limit{
    background-image:url(../assets/img/problom2@2x.png);
    background-size:12px 12px;
	background-position:0 2.5px;
    background-repeat:no-repeat;
    padding-left:20px;
    color:#0096FE;
    font-family:PingFangSC-Regular;
}
.opening_box p .getpassword{
     display: inline-block;
     text-align: center;
     line-height: 1.3rem;
     color:#2B74FE;
	 border-radius:0.3rem;
     float:right;
}
.opening_box input{
	width: 50%;
	border: none;
	box-sizing: border-box;
	font-size: 14px;
	color: #333;
	line-height: 1.3rem;
	outline: none;
}
.tijiao{
	font-size: 0.4rem;
    color: #fff;
    background-color: #0096FE;
    border-radius: 0.2rem;
    line-height: 1.2rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 0.5rem;
    border: 0px;
    outline: none;
    display: block;
}
.Tips{
    margin-top:1rem;
    background-color:#FF5B05;
    width:80%;
}
