.app{
    width:94%;
    padding: 0 3%;
}
.app .probloms{
    text-align: center;
    color: #666666 ;
}
.app .problomtitle{
    font-size: 0.4rem;
    line-height: 1rem;
    height:1rem;
    width:100%;
    border-bottom:1PX #E5E5E5 solid; 
    color: #333;
}
.app .problomselect{
    font-size: 0.4rem;
    color:#666666;
    padding: 0.2rem 0;
}
.app .problomselect p{
    padding: 0.2rem 0;
}
.begain{
    font-size: 0.4rem;
    color: #fff;
    background-color: #0096FE;
    border-radius: 0.2rem;
    line-height: 1rem;
    width: 35%;
    text-align: center;
    margin-top: 1.3rem;
}